
<div class="footerContainer">

<img
class="footer_img" 
src="/img/footer.jpg"
/>

<div class="grid wide">
<div class="row">
    <div class="col l-4 m-6 c-12">
        <a href="/"><img 
        class="fitem-logo"
        src="/img/logo.png">
        </a>
    </div>
    <div class="col l-8 m-6 c-12">
        <div class="fitem-text">
            <h2>Liên hệ</h2>
            <p><i class="ti-map"> </i>2/5 đường 6, Tam Bình, Thủ Đức, HCM</p>
            <p><i class="ti-email"> </i>teemoly1212@gmail.com</p>
            <p><i class="ti-mobile"> </i>0362810093</p>
        </div>
    </div>
</div>
</div>
</div>

<div style="background-color:black; width:100%; height:5000px; position:fixed; color:white; text-align:center">
    <h3 style="margin-top:1%">Author: LÊ VĂN ĐẠT</h3>
</div>