{{> header account=user.status id=user.userid name=user.username admin=user.admin}}
<div class="header-space"></div>
<div style="width:100%; display:flex; justify-content:center; margin-top:3%">
    <div style="width:40%;">
        <form action="/quantri/addEatingSpot/" method="post" class="addDestination_Form">
            <h2 style="color:darkorange">Thêm địa điểm ăn uống</h2>
            <p>Name:</p>
            <input name="name" placeholder="Nhập tên địa điểm..."/>
            <p>Phone:</p>
            <input name="phone" placeholder="Nhập sđt..."/>
            <p>Open:</p>
            <input name="open" placeholder="Nhập thời gian mở cửa..."/>
            <p>Location:</p>
            <input name="location" placeholder="Địa chỉ..."/>
            <p>Description:</p>
            <input name="description" placeholder="Chú thích..."/>
            <p>Lat:</p>
            <input name="lat" placeholder="vĩ độ..."/>
            <p>Long:</p>
            <input name="long" placeholder="Kinh độ..."/>
            <p>Thumb_url:</p>
            <input name="thumb_url" placeholder="ID ảnh..."/> 
            <h3 style="color:darkorange; margin-top:2%; margin-bottom:2%">Thêm hình ảnh</h3>
            <div id="addImage_container"></div>
            <p style="color:darkorange; font-style:italic" id="addImage">Thêm ảnh</p>
            <button type="submit">Thêm</button>
        </form>
    </div>

</div>
<script>
    const addImage=document.getElementById('addImage')

    addImage.onclick = function(e){
        const div=document.createElement('div')
        div.style.display='flex'
        const input= document.createElement('input')
        input.name='images'
        input.placeholder='ID ảnh...'
        input.style.marginTop='1%'
        input.classList.add('ImageInput')
        div.appendChild(input)
        const p=document.createElement('p')
        const textNode=document.createTextNode('X')
        p.appendChild(textNode) 
        p.style.color='red'
        p.style.fontSize='12px'
        p.style.margin='auto'
        p.classList.add('removeImageInput')
        div.appendChild(p)
        document.getElementById('addImage_container').appendChild(div)
        p.onclick = function(){
            p.remove()
            input.remove()
        }
    }
</script>
{{> footer}}