{{> header account=user.status id=user.userid name=user.username admin=user.admin}}
<div class="header-space"></div>
<div style="width:100%; display:flex; justify-content:center; margin-top:3%">
    <div style="width:40%;">
        <form action="/quantri/addTour/" method="post" class="addDestination_Form">
            <h2 style="color:darkorange">Thêm tour du lịch</h2>
            <p>Name:</p>
            <input name="name" placeholder="Nhập tên địa điểm..."/>
            <p>Description:</p>
            <textarea style="width:60%" rows="4" name="description" placeholder="Chú thích..."></textarea>
            <p>Price:</p>
            <input name="price" placeholder="Giá vé..."/>
            <p>Nơi khởi hành:</p>
            <input name="location" placeholder="Nơi khởi hành..."/>
            <p>Số ngày:</p>
            <input name="day" placeholder="Số ngày..."/>
            <p>Thumb_url:</p>
            <input name="thumb_url" placeholder="ID ảnh..."/>
            <h3 style="color:darkorange; margin-top:2%; margin-bottom:2%">Thêm hình ảnh</h3>
            <div id="addImage_container"></div>
            <p style="color:darkorange; font-style:italic" id="addImage">Thêm ảnh</p>
            <button type="submit">Thêm</button>
        </form>
    </div>

</div>
<script>
    const addImage=document.getElementById('addImage')

    addImage.onclick = function(e){
        const div=document.createElement('div')
        div.style.display='flex'
        const input= document.createElement('input')
        input.name='images'
        input.placeholder='ID ảnh...'
        input.style.marginTop='1%'
        input.classList.add('ImageInput')
        div.appendChild(input)
        const p=document.createElement('p')
        const textNode=document.createTextNode('X')
        p.appendChild(textNode)
        p.style.color='red'
        p.style.fontSize='12px'
        p.style.margin='auto'
        p.classList.add('removeImageInput')
        div.appendChild(p)
        document.getElementById('addImage_container').appendChild(div)
        p.onclick = function(){
            p.remove()
            input.remove()
        }
    }
</script>
{{> footer}}