<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/css/news.css">
    <link rel="stylesheet" href="/css/map.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/tour.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/detail.css">
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="/css/grid/grid.css">
    <link rel="stylesheet" href="/icon/themify-icons.css">
    <link rel="stylesheet" href="/splide-4.0.1/dist/css/splide.min.css">
    <script src="/splide-4.0.1/dist/js/splide.min.js"></script>

    

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }
        a{
            text-decoration: none;
            color: black;
        }
        body::-webkit-scrollbar{
            display: none;
        }
   
    </style>
    <title>HOLIDAY</title>
</head>
<body>
    <div class="container">
        
        {{{body}}}

        
    </div>
</body>
</html>